

  <app-navbar></app-navbar>
  <div class="container mt-3 mt-md-5">
    <h2 class="text-charcoal hidden-sm-down">Your Orders</h2>
    <!-- <h5 class="text-charcoal hidden-md-up">Your Orders</h5> -->
    <div *ngIf="this.collection==0"> <h6 style="line-height:309px;text-align:center">No Orders Yet</h6></div>
    <div class="row" *ngFor="let item of collection">
      
      <div  class="col-12">
        <div class="list-group mb-5">
          <div class="list-group-item p-3 bg-snow" style="position: relative;">
            <div class="row w-100 no-gutters">
              <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Order Number</h6>
                <a href="" class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{item._id}}</a>
              </div>
              <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Date</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{item.createddate}}</p>  
              </div>
              <div class="col-6 col-md"> 
                <h6 class="text-charcoal mb-0 w-100">Total</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">₹{{item.totalprice}}</p> 
              </div>
              <div class="col-6 col-md"> 
                <h6 class="text-charcoal mb-0 w-100">Shipped To</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{LoggedUser.name}}</p> 
              </div>
              <div class="col-12 col-md-3">
                <a href="" class="btn btn-primary w-100">View Order</a>
              </div>
            </div>
            
          </div>
          <div class="list-group-item p-3 bg-white">
            <div class="row no-gutters">
              <div class="col-12 col-md-9 pr-0 pr-md-3">
                <div class="alert p-2 alert-success w-100 mb-0">
                  <!-- <h6 class="text-green mb-0"><b>Shipped</b></h6> -->
                  <p class="text-green hidden-sm-down mb-0">Will be delivered soon</p>
                </div>
              </div>
              <!--<div class="col-12 col-md-3">
                <a href="" class="btn btn-secondary w-100 mb-2">Track Shipment</a>
              </div>-->
              <div class="row no-gutters mt-3" *ngFor="let x of item.order">
                <div class="col-3 col-md-1">
                  <img class="img-fluid pr-3" src="{{x.image}}" alt="">
                </div>
                <div class="col-9 col-md-8 pr-0 pr-md-3">
                  <h6 class="text-charcoal mb-2 mb-md-1">
                    <a href="" class="text-charcoal">{{x.name}}</a>
                  </h6>
                  <ul class="list-unstyled text-pebble mb-2 small">
                    <!-- <li class="">
                      <b>Color:</b> Red
                    </li> -->
                    <li class="">
                      <b>Quantity:</b> {{x.quantity}}
                    </li>
                  </ul>
                  <h6 class="text-charcoal text-left mb-0 mb-md-2"><b>₹{{x.price}}</b></h6>
                </div>
              
              </div>
           
            </div>
          </div>
        </div>
      </div>
      
 